<header>
    <div class="w3l-header" id="home">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark pl-0 pr-0">
                <a class="navbar-brand m-0" href="/"><span class="fa fa-gamepad"></span> Eccentric </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <% for(var i in menu) { %>
                            <% if(menu[i].url==url) { %>
                                <li class="nav-item active mr-lg-4">
                                    <a class="nav-link pl-0 pr-0" href="<%= menu[i].url %>">
                                        <%= menu[i].name %><span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item mr-lg-4">
                                        <a class="nav-link pl-0 pr-0" href="<%= menu[i].url %>">
                                            <%= menu[i].name %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>